@model ASP_Project_BLL.Model.MailVM
@{
    ViewData["Title"] = "Index";
   
}

<h2>@TempData["Msg"]</h2>
<br />
<h1>Send Mail </h1>
<span class="text-info">(Please Allow less Secure apps on your email so you can recieve This message)</span>
<br />

<form  asp-controller="Mail" asp-action="Index" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <br /><br />

    <div class="form-group">

        <label>Enter Your Email Address</label>
        <input type="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>


    <br />
    <div class="form-group">

        <label>Title</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>

    </div>
    <br />
    <div class="form-group">

        <label>Message</label>
        <textarea class="form-control" asp-for="Message"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>

    </div>

    <br /><br />

          <center>

              <button type="submit" class=" btn btn-primary"> Send</button>
              <button type="reset" class=" btn btn-danger"> Reset</button>
          </center>

          <br /><br />
</form>

