@model  ASP_Project_BLL.Model.EditRoleVM
@{
    ViewData["Title"] = "DeleteRole";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}

<h1 class="text-danger">Delete Role</h1>

<br />
<br />

<form asp-controller="Role" asp-action="DeleteRole">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <br />
    <div class="form-group">
        <label>  Role Name</label>
        <input asp-for="RoleName" readonly class="form-control" />

    </div>





    <center>
        <button type="submit" class="btn btn-danger"> Delete</button>
        <a class="btn btn-info" asp-controller="Role" asp-action="Index"> Back</a>
    </center>

    <br /><br />

</form>


