@model ASP_Project_BLL.Model.EmployeeVM

@{
    ViewData["Title"] = "Delete";
    
}

<h1 class="text-danger">Are you sure to Delete this Employee ??</h1>


<br />
<br />

<form asp-action="Delete" asp-controller="Employee"  method="post">

    <input asp-for="PhotoName" type="hidden" />
    <input asp-for="CvName" type="hidden" />
    <input asp-for="DistrictId" type="hidden" />
    <input asp-for="DepartmentId" type="hidden" />
    <input asp-for="id" type="hidden" />

    @*<div>
        <img src="~/Files/Photos/@Model.PhotoName" width="250" height="250" class="rounded" alt="Profile Picture" />
    </div>
    <br />
    <div>
        <a href="~/Files/Docs/@Model.CvName" download="Current Cv">Download Cv</a>
    </div>*@
    <br />
    <div class="form-group">
        <label>Employee Name</label>
        <input type="text" readonly asp-for="Name" class="form-control" />

    </div>
    <br />
    <div class="form-group">
        <label>Employee Salary</label>
        <input type="text" readonly asp-for="salary" class="form-control" />

    </div>

    <br />
    <div class="form-group">
        <label>Employee Email</label>
        <input type="email" readonly asp-for="Email" class="form-control" />

    </div>

    <br />
    <div class="form-group">
        <label>Employee HireDate</label>
        <input type="date" readonly asp-for="HireDate" class="form-control" />

    </div>

    <br />
    <div class="form-group">
        <label>Employee Address</label>
        <input type="text" readonly asp-for="Address" class="form-control" />

    </div>

    <br />
    <div class="form-group">
        <label>Employee Notes</label>
        <textarea asp-for="Notes" readonly class="form-control"></textarea>

    </div>

    <br />
    <div class="demo-checkbox">
        <input disabled type="checkbox" asp-for="IsActive" />
        <label>Is Active</label>
    </div>

    <br />
    <div class="form-group">
        <label>Department</label>
        <input asp-for="@Model.Department.DepartmentName" class="form-control" readonly />
    </div>




    <br />
    <div class="form-group">
        <label>District</label>
        <input asp-for="@Model.District.DistrictName" readonly class="form-control" />
    </div>

    <br />





    <center>
        <button type="submit" class="btn btn-danger"> Delete</button>
        <a  asp-controller="Employee" asp-action="Index" class="btn btn-info"> Back</a>
    </center>

    <br />
    <br />


</form>


